.brand-title {
  color: #222;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s;
}
.brand-title:hover,
.brand-title:hover * {
  color: #e53935 !important;
}
.brand-title img {
  vertical-align: middle;
  margin-right: 12px;
  color: black; 
}

.welcome-text {
  font-weight: bold;
  animation: textPressure 2s ease-in-out infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #fe243d, #e53935);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

.animated-description {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

.sign-in-button {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.sign-in-button:hover {
  transform: translateY(-12px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}