.brand-title {
  color: #222;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s;
}
.brand-title:hover,
.brand-title:hover * {
  color: #e53935 !important;
}
.brand-title img {
  vertical-align: middle;
  margin-right: 12px;
  color: black; /* keeps icon color unchanged */
}